---
layout: site/default
title: Work
script: about
---
{% include components/hero/minimal.html
  title= "I'm Diogo Russo"
  subtitle= "UX and Product Design at The Climate Corporation, San Francisco. Originally from Rio de Janeiro, I have a MBA in Design Strategy from California College of the Arts. I have fun making things and sharing ideas. I create colorful drawings.    👉"
  bg_color="bg-light"
  wrap="wrap-large"
  txt_align="txt-left"
  txt_color="txt-dark"
  scroll_arrow="false"
  anchor="work"
%}
<a id="work"></a>

<div class="box" style="padding-top:6rem;">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    {% capture post_image %}
      {{site.cdn}}work/projects/{{post.slug}}/cover.jpg
    {% endcapture %}
    {% include components/card/large.html 
      title=post.title
      categories=post.categories
      description= post.content
      url=post.url
      image=post_image
      type="slider" 
      count=3
    %}
  
  {% endfor %}

  <!-- Pagination links -->
  {% comment %} <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div> {% endcomment %}
</div>
